<div class="flex flex-col items-center text-4xl bg-[#11375f] py-6 text-white font-bold">
    {{ title }}
</div>
<div>
    <div class="bg-gradient-to-b from-[#29bfff] to-white">
        <div class="max-w-4xl mx-auto font-semibold py-5 text-left px-4 lg:px-0">
        {{ if subtitle }}
            {{ subtitle }}
        {{ /if }}
        {{ if description }}
            {{ description }}
        {{ /if }}
        </div>

        <section>
            {{ if ponentes }}
                <h3 class="font-semibold max-w-4xl mx-auto px-4 lg:px-0">Ponentes:</h3>
                <div class="flex flex-col justify-center gap-2 max-w-4xl mx-auto px-4 lg:px-0">

                {{ ponentes }}
                    <div class="flex gap-2 items-center">

                        <p>{{ title }}</p>
                        <div class="flex flex-wrap gap-2 mt-3 md:mt-0">
                            {{ if instagram }}
                            <a href="{{ instagram }}" class="rounded-full bg-orange-500 px-1 py-1">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
                            </a>
                            {{ /if }}
                            {{ if twitter }}
                            <a href="{{ twitter }}" class="rounded-full bg-orange-500 px-1 py-1">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>
                            </a>
                            {{ /if }}
                            {{ if facebook }}
                            <a href="{{ facebook }}" class="rounded-full bg-orange-500 px-1 py-1">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
                            </a>
                            {{ /if }}
                            {{ if website }}
                            <a href="{{ website }}" class="rounded-full bg-orange-500 px-1 py-1">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-world-www"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4" /><path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4" /><path d="M12.5 3a16.989 16.989 0 0 1 1.828 4" /><path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4" /><path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4" /><path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4" /><path d="M2 10l1 4l1.5 -4l1.5 4l1 -4" /><path d="M17 10l1 4l1.5 -4l1.5 4l1 -4" /><path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4" /></svg>
                            </a>
                            {{ /if }}
                            {{ if mail }}
                            <a href="mailto:{{ mail }}" class="rounded-full bg-orange-500 px-1 py-1">
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" /><path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" /></svg>
                            </a>
                            {{ /if }}
                        </div>

                    </div>
                {{ /ponentes }}

            {{ /if }}
        </section>

        <div class="flex justify-end w-fit mx-auto max-w-4xl bg-[#1273DB] rounded-xl p-1">
            {{ if button }}
                <a href="{{ button_link }}">{{ button }}</a>
            {{ /if }}
        </div>

        </div>

    <hr><hr>

    <div>
        <div class="max-w-4xl mx-auto">
            {{ if webinar_video }}
                <iframe width="905" height="536" class="hidden md:block" src="{{ webinar_video | embed_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="flex justify-center">
                    <iframe width="380" height="336" class="md:hidden" src="{{ webinar_video | embed_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            {{ /if }}
            {{ if genially }}
                <iframe width="905" height="536" class="hidden md:block" src="{{ genially | embed_url }}" title="Genially presentation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="flex justify-center">
                    <iframe width="380" height="336" class="md:hidden" src="{{ genially | embed_url }}" title="Genially presentation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            {{ /if }}
        </div>
        <div class="max-w-4xl mx-auto mt-2 mb-10">
            <div class="prose lg:prose-xl">
                {{ if video_chapters }}
                    {{ video_chapters }}
                {{ /if }}
            </div>
        </div>

        <p class="max-w-3xl mx-auto text-xl">Entradas relacionadas:</p>
        <div class="grid grid-cols-3 max-w-3xl mx-auto gap-4 mb-7 pt-10">
            {{ collection:webinars limit="3" }}
            <div>
                <a href="{{ url }}">
                    <img src="{{ webinar_image }}" class="rounded-lg">
                </a>
            </div>
            {{ /collection:webinars }}
        </div>
    </div>
</div>
